header {
  display: -ms-grid;
  display: grid;
  background: #ccffcc;
  -ms-grid-columns: 40% auto auto;
      grid-template-columns: 40% auto auto;
  -ms-grid-rows: 3rem 2rem;
      grid-template-rows: 3rem 2rem;
      grid-template-areas: "nav . log" ". . signup";
}

header ul {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
  list-style: none;
  margin-top: 7px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul img {
  margin: 20px 20px 0 0;
  width: 10%;
}

header ul li {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: rgba(238, 238, 238, 0.55);
  padding: 1.3rem;
  margin: 12px .2rem 0 0;
  border-radius: 10px;
}

header ul li:hover {
  background-color: #eee;
  border-radius: 10px;
}

header form {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: log;
  background: #ccffcc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 5px;
}

header form button {
  margin: 5px;
}

header form label {
  font-size: 1rem;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header span {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: signup;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header span p {
  padding: 5px;
  margin: 0;
}

@media screen and (max-width: 800px) {
  header {
    -ms-grid-columns: 65% auto auto;
        grid-template-columns: 65% auto auto;
    -ms-grid-rows: 6em 2rem;
        grid-template-rows: 6em 2rem;
  }
  header ul li, header ul img {
    margin-top: 0;
  }
  header form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header form label {
    display: none;
  }
  header form input {
    padding: 10px 10px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 10px;
  }
  header form button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 15px;
  }
  header span p {
    padding: 10px 10px 0 0;
  }
}

@media screen and (max-width: 800px) and (max-width: 500px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */